body {background-color: #f0ead2;
  width: 100%
}
main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}
body {
  font-family: "Courier New", Courier New;
  text-align: center;
  color: black;
  background-image: #f0ead2;
}
nav {
  text-align: center;
}
bio {
  text-align: left;
}
ul {
  list-style-type: none;
  background-color: #adc178;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #dde5b6
}
